<div class="container">
    <div class="btn btn-group">
        <button class="btn btn-primary" (click)="fetchAllStories()">Refresh</button>
        <a class="btn btn-primary" [routerLink]="['/stories/new/1']">New</a>
        <a class="btn btn-primary" [routerLink]="['/stories/top/1']">Top</a>
    </div>
    <div class="btn btn-group">
        <a class="btn btn-primary" [routerLink]="['/stories/new/1']">1</a>
        <a class="btn btn-primary" [routerLink]="['/stories/new/2']">2</a>
        <a class="btn btn-primary" [routerLink]="['/stories/new/3']">3</a>
        <a class="btn btn-primary" [routerLink]="['/stories/new/4']">4</a>
        <a class="btn btn-primary" [routerLink]="['/stories/new/5']">5</a>
    </div>
    <router-outlet></router-outlet>
</div>