<div id="content">
    <hn-nav-bar></hn-nav-bar>
    <div class="container text-center">
        <div class="btn btn-group align-items-center">
            <a class="btn btn-primary" [routerLink]="['/stories/new/1']">New</a>
            <a class="btn btn-primary" [routerLink]="['/stories/top/1']">Top</a>
            <button @animation *ngIf="!stateLoading" class="btn btn-primary" (click)="refreshStories()">Refresh</button>
        </div>
        <div class="card bg-light story-card">
            <div class="card-header"><h4>{{ storyType | titlecase }} Stories</h4></div>
            <router-outlet (activate)="subscribeToEmitter($event)"></router-outlet>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Conor McAvinue
    </div>
    <!-- Copyright -->
</footer>