.selected {
    background-color: #f75402;
    border-color: #f68423;
}

.btn:focus {
    box-shadow: none;
}

.btn {
    cursor: pointer;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.filters {
    justify-content: space-between; 
    display: flex;
    padding-top: 5px;
    width: 60%;
}