.card {
    width: 60%;
    display: flex;
    font-size: 0.8em;
    margin: 0 auto;
}

.storyLink {
    text-decoration: none;
    color: #0dbd9a;
}

.storyLink:visited {
    color: grey;
}

.border-hacker {
    border-color: #f68423 !important;
}