<ng-container *ngIf="storiesLoading !== true; else loading">
    <div class="btn btn-group">
        <a *ngFor="let number of pages; let i = index" class="btn btn-primary" [class.selected]="pageIndex - 1 === i" [routerLink]="['/stories', storyType, i + 1]">{{i + 1}}</a>
    </div>
    <div class="container filters">
        <div>
            <input @animation *ngIf="!stateLoading" [(ngModel)]="searchString" class="form-control mr-auto form-control-inline" type="text" placeholder="Search for Story">
        </div>
        <div>
            Stories per Page: 
            <select class="form-select form-control-inline" [(ngModel)]="listLength">
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <hn-story *ngFor="let story of displayedStories.slice(0, listLength)" [story]="story"></hn-story>
</ng-container>
<ng-template #loading>
    <div class="spinner-border mt-5 mb-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</ng-template>

