<ng-container *ngIf="storiesLoading !== true; else loading">
    <div class="row text-left mb-5">
        <div class="col-lg-6 mx-auto">
          <div>
              <input [(ngModel)]="searchString" class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" type="text" placeholder="Search for Story">
          </div>
        </div>
      </div>
      
    <select class="form-control" [(ngModel)]="listLength">
        <option value="20">20 stories per page</option>
        <option value="30">30 stories per page</option>
        <option value="50">50 stories per page</option>
    </select>
    <div class="btn btn-group">
        <a *ngFor="let number of pages; let i = index" class="btn btn-primary" [routerLink]="['/stories', storyType, i + 1]">{{i + 1}}</a>
    </div>
    <hn-story *ngFor="let story of displayedStories.slice(0, listLength)" [story]="story"></hn-story>
</ng-container>
<ng-template #loading>
    Loading
</ng-template>

