/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    background:#eee;
    color: #708090;
}

.btn-primary {
    background-color: #f68423;
    box-shadow: none;
    border-color: #f68423;
}

.btn-primary:hover {
    background-color: #f75402;
    border-color: #f68423;
}

.btn-primary:focus {
    background-color: #f68423;
    box-shadow: none;
    border-color: #f68423;
}

.navbar {
    background-color: #f68423;
    color: white;
}

#main-page {
    position: relative;
    min-height: 100vh;
}

#content {
padding-bottom: 2.5rem; 
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}